<form method="post" action="/landmarks">
<p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
<p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>

<% Figure.all.each do |figure| %>
<br><br>
  <input type="checkbox" name="landmark[figure_ids][]" value="<%=figure.id%>" id="figure_<%=figure.id%>"><%=figure.name%></input>
<% end %>

<p>New Figure Name: <input type="text" name="figure[name]" id="new_figure"></p>

<input type="submit" value="Create New Landmark">

</form>